<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

    <div class="min-vh-100">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="content p-5 col-lg-7 col-12" style="background-color: lightgray; border-radius: 20px;">
                    <h1 class="text-center"><%= title %></h1>
                    <p><%= content %></p>
                </div>
                <div class="content col-lg-3 col-12 text-center mx-3 p-2" style="background-color: lightgrey; border-radius: 20px; height: 15vh;" >
                    <form action="/delete" method="post" class="my-2">
                        <input hidden type="text" name="postID" value="<%= postID %>">
                        <input class="btn btn-dark" type="submit" value="Delete Post" name="delete">
                    </form>
                    <form action="/edit/<%= postID %>" method="get" class="my-2">
                        <input class="btn btn-dark" type="submit" value="Edit Post" name="<%= postID %>">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>